<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <servlet>
        <servlet-name>GetAllUsers</servlet-name>
        <servlet-class>org.web.server.web_server_on_servlet.controller.GetAllUsersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAllUsers</servlet-name>
        <url-pattern>/getAll</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetUser</servlet-name>
        <servlet-class>org.web.server.web_server_on_servlet.controller.GetUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetUser</servlet-name>
        <url-pattern>/getUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>org.web.server.web_server_on_servlet.controller.AddUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/addUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>org.web.server.web_server_on_servlet.controller.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/deleteUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>org.web.server.web_server_on_servlet.controller.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/updateUser</url-pattern>
    </servlet-mapping>
</web-app>